<!DOCTYPE html>
{% load static %}
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Thermo Genomika</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "assets/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <link href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "bower_components/metisMenu/dist/metisMenu.min.css" %}" rel="stylesheet">

    <link href="{% static "dist/css/timeline.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "dist/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "bower_components/morrisjs/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "bower_components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <link href="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bower_components/datatables-responsive/css/dataTables.responsive.css" %}" rel="stylesheet">

    <link type="text/css" href="{% static "jquery-ui-1.11.4/jquery-ui.min.css" %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'price_table.css' %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style type="text/css">
        ${demo.css}
    </style>

    {% block style %}
    {% endblock %}


    <script src="{% static "assets/js/ie-emulation-modes-warning.js" %}"></script>

  </head>

  <body>
    <style type="text/css">
        #color-advice{
            color:gray;
            font-size: 16px;
        }
    </style>

    {% block nav-bar %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script>window.jQuery || document.write('<script src="{% static "assets/js/vendor/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static "dist/js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "assets/js/ie10-viewport-bug-workaround.js" %}"></script>
    <script src="{% static "bower_components/datatables/media/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jquery-ui-1.11.4/jquery-ui.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "dist/js/sb-admin-2.js" %}"></script>
    <script src="{% static "bower_components/metisMenu/dist/metisMenu.min.js" %}"></script>
    
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script>
         $(function() {
          $("#start_date").datepicker({dateFormat: "dd/mm/yy", showOtherMonths: true,
              changeMonth: true,
              changeYear: true,
              selectOtherMonths: true,
              yearRange: '1900:2050',
              dayNames: ["Domingo","Segunda","Terça","Quarta","Quinta","Sexta","Sábado","Domingo"],
              dayNamesMin: ["D","S","T","Q","Q","S","S","D"],
              dayNamesShort: ["Dom","Seg","Ter","Qua","Qui","Sex","Sáb","Dom"],
              monthNames: ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"],
              monthNamesShort: ["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Set","Out","Nov","Dez"],
              showAnim: "scale"
           });
        });
        </script>

    <script>
         $(function() {
          $("#end_date").datepicker({dateFormat: "dd/mm/yy", showOtherMonths: true,
              changeMonth: true,
              changeYear: true,
              selectOtherMonths: true,
              yearRange: '1900:2050',
              dayNames: ["Domingo","Segunda","Terça","Quarta","Quinta","Sexta","Sábado","Domingo"],
              dayNamesMin: ["D","S","T","Q","Q","S","S","D"],
              dayNamesShort: ["Dom","Seg","Ter","Qua","Qui","Sex","Sáb","Dom"],
              monthNames: ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"],
              monthNamesShort: ["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","Set","Out","Nov","Dez"],
              showAnim: "scale"
           });
        });
        </script>

<style type="text/css">

#footer_color{
  background:#e7e7e7;
  border-top: 0px;
}

#footer_text{
  margin-top: 15px;
}
</style>
  {% if system_info %}
    <div class="navbar navbar-inverse navbar-fixed-bottom" id="footer_color" role="navigation">
      <center>
        <p id="footer_text">{{brand}} - Designed by: {{designed_by}} - {{version}}</p>
      </center>
    </div>
  {% endif %}
  </body>
</html>
