
{% extends 'menu.html' %}
{% load static %}


{% block content %}
<script type="text/javascript">
    $(function () {
        var date_list = {{date_list|safe}}
        var temp_list = {{temp_list|safe}}

        $('#container').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'Registro de Temperatura'
            },
            subtitle: {
                text: '{{room}}'
            },
            xAxis: {
                categories: date_list
            },
            yAxis: {
                title: {
                    text: 'Temperatura (°C)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: '{{room}}',
                data: temp_list
            }]
        });
    });
</script>

<div class="container">
    <div class="col-sm-3 col-sm-4">
        <label for="exampleInputEmail1">Data de início</label>
        <input type="text" class="form-control" id="start_date" placeholder="Text input">
        <label for="exampleInputEmail1">Data de fim</label>
        <input type="text" class="form-control" placeholder="Text input">
        <br>
        <br>
    </div>
</div>
<div class="container">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</div>

{% endblock %}