
{% extends 'menu.html' %}
{% load static %}


{% block content %}
<style type="text/css">
    #temp_date{
        font-size: 12px;
    }
    #qtd_temp{
        font-size: 52px;
    }
    #temp{
        font-size: 38px;
    }
</style>
<script type="text/javascript">
    var date_list = {{date_list|safe}}
    var temp_list = {{temp_list|safe}}
    $(function () {
        $('#container').highcharts({
            title: {
                text: 'Registro de Temperatura',
                x: -20 //center
            },
            subtitle: {
                text: '{{local_name}}',
                x: -20
            },
            xAxis: {
                categories: date_list
            },
            yAxis: {
                title: {
                    text: 'Temperatura (°C)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: '{{local_name}}',
                data: temp_list
            },]
        });
    });
</script>

<div class="container">
    <form  action="" method="get">
        <div class="col-sm-3 col-sm-4">
            <label for="exampleInputEmail1">Local do Thermo</label>
            <select name="local_pk" class="form-control">
              {% for room in room_list %}
                <option value={{room.pk}}>{{room.local}}</option>
              {% endfor %}
            </select>
            <label for="exampleInputEmail1">Data início</label>
            <input type="text" name='start_date' class="form-control" id="start_date" placeholder="{{start_date}}">
            <label for="exampleInputEmail1">Data fim</label>
            <input type="text" name='end_date' class="form-control" id="end_date" placeholder="{{end_date}}">
            <br>
            <button type="submit" class="btn btn-primary btn btn-default btn-lg">Filtrar</button>
            <br>
            <br>
        </div>


        <div class="container">
            <div class="col-md-4">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-bar-chart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Temperaturas Aferidas</div>
                                <div class="huge" {% if last_temp_date %} id="qtd_temp"{% endif %}>{{qtd_temp}}</div>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-info fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Última Temperatura Aferida</div>
                                <div class="huge" {% if last_temp_date %} id="temp" {% endif %}>{{last_temp}}</div>
                                <span id="temp_date">{{last_temp_date}}</span>

                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-fire fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Máxima Registrada</div>
                                <div class="huge" {% if last_temp_date %} id="temp" {% endif %}>{{max_temp}}</div>
                                <span id="temp_date">{{max_temp_date}}</span>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cube fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Mínima Registrada</div>
                                <div class="huge" {% if last_temp_date %} id="temp" {% endif %}>{{min_temp}}</div>
                                <span id="temp_date">{{min_temp_date}}</span>
                            
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </form>
</div>
<div class="container">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</div>

{% endblock %}