{% extends 'menu.html' %}
{% load static %}


{% block content %}
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-envelope fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Thermos Cadastrados</div>
                                    <div class="huge">{{my_machines}}</div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-dollar fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Temperaturas Aferidas</div>
                                    <div class="huge">{{my_cash}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-dollar fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Temperaturas Acima do Normal</div>
                                    <div class="huge">{{my_cash}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}